<div class="field">
  <% f.label :email %>
  <%= f.email_field :email, placeholder: "Email" %>
</div>

<div class="field">
  <% f.label :password %>
  <%= f.password_field :password, placeholder: "Password" %>
</div>
