<h1>Add a new restaurant...</h1>
<%=  link_to("Back to Index", restaurants_path) %>
<hr>
<!-- <p>Find me in app/views/products_controller/new.html.erb</p> -->


<%= render 'restaurants/form', restaurant: @restaurant %>

<%= @restaurant.errors.full_messages.first if @restaurant.errors.any? %>
